# Redirect ettlin.dev to nicolas.ettlin.dev
# based on https://stackoverflow.com/a/8699176/4652564
RewriteEngine on
RewriteCond %{HTTP_HOST} ^ettlin\.(.*)$ [NC]
RewriteRule ^(.*)$ https://nicolas.ettlin.%1%{REQUEST_URI} [R=301,QSA,NC,L]

# Remove trailing slash
# https://stackoverflow.com/a/21417551/4652564
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R]

# Remove .html from URLs
# https://stackoverflow.com/a/34726322/4652564
RewriteEngine on

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]
